@page
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<html>
<head>
    <title>Política de Privacidade da [Nome da Sua Loja de Sucos Naturais]</title>

     <style>
        h3 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
      
    </style>
</head>
<body>

    <p>Nós valorizamos a sua privacidade e está comprometida em proteger as informações pessoais que você compartilha conosco. Esta política de privacidade descreve como coletamos, usamos e protegemos seus dados pessoais ao utilizar nosso website e serviços.</p>

    <h3>1. Informações Coletadas:</h3>

    <p>1.1. <strong>Informações Pessoais:</strong> Ao fazer um pedido ou se inscrever para receber nossas comunicações, podemos coletar informações pessoais, como nome, endereço, endereço de e-mail, número de telefone e informações de pagamento.</p>

    <p>1.2. <strong>Informações de Uso:</strong> Podemos coletar informações sobre como você utiliza nosso website, como páginas visitadas, produtos visualizados e preferências de compra.</p>

    <h3>2. Uso das Informações:</h3>

    <p>2.1. Utilizamos suas informações pessoais para processar pedidos, fornecer suporte ao cliente e enviar comunicações relacionadas a produtos, promoções e atualizações.</p>

    <p>2.2. Suas informações de uso são utilizadas para melhorar nosso website e personalizar sua experiência de compra.</p>

    <h3>3. Compartilhamento de Informações:</h3>

    <p>Não compartilhamos suas informações pessoais com terceiros, a menos que seja estritamente necessário para cumprir com nossos compromissos contratuais, atender às obrigações legais ou proteger nossos direitos e interesses.</p>

    <h3>4. Segurança de Dados:</h3>

    <p>4.1. Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, divulgação ou modificação.</p>

    <p>4.2. No entanto, nenhuma transmissão de dados pela Internet é totalmente segura, e não podemos garantir a segurança absoluta de suas informações.</p>

    <h3>5. Cookies e Tecnologias Semelhantes:</h3>

    <p>Utilizamos cookies e outras tecnologias de rastreamento para melhorar sua experiência online e coletar informações de uso. Você pode gerenciar as configurações de cookies através do seu navegador.</p>

    <h3>6. Seus Direitos:</h3>

    <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Para exercer esses direitos ou se tiver alguma dúvida sobre nossa política de privacidade, entre em contato conosco através das informações de contato fornecidas no final desta política.</p>

    <h3>7. Menores de Idade:</h3>

    <p>Nosso website não é direcionado a menores de idade. Não coletamos intencionalmente informações de crianças menores de 13 anos.</p>

    <h3>8. Alterações na Política de Privacidade:</h3>

    <p>Reservamo-nos o direito de atualizar esta política de privacidade periodicamente. Quaisquer alterações serão publicadas em nosso website, e a data da última atualização será revisada acima.</p>

    <p>Estamos comprometidos em proteger sua privacidade e fornecer a você uma experiência de compra segura e satisfatória.</p>
</body>
</html>
