@page
@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>

<html>
<head>
    <title>Quem somos</title>
</head>
<body>
    <p>
        Somos uma equipe apaixonada pela saúde e bem-estar, e acreditamos que a natureza oferece os melhores ingredientes para uma vida vibrante. É por isso que estamos aqui para oferecer a você os mais frescos e deliciosos sucos naturais, feitos com carinho e dedicação. Nossa jornada começou com a busca pela maneira mais saborosa e nutritiva de aproveitar os benefícios dos sucos naturais. Através de pesquisa cuidadosa e experimentação, desenvolvemos uma gama de sucos que são uma celebração da natureza em cada gole. Utilizamos ingredientes orgânicos e frescos, selecionados criteriosamente, e nunca adicionamos conservantes ou açúcares artificiais. Cada garrafa é uma explosão de sabor e vitalidade.
    </p>
</body>
</html>